html,
body {
  margin: 0;
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

#header {
  height: 100px;
  background-color: yellow;
}

#body {
  height: 75vh;
}

#footer {
  height: 100px;
  background-color: yellow;
}